@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    height: 400px;
}

.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links-list {
    display: flex;
    gap: 20px;
}